<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Options</title>
    <!-- CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('shared.static', filename='/admin_dashboard.css') }}">
</head>
<body>
    <div class="container-fluid">
        <div class="row vh-100">
            <!-- Left Side -->
            <div class="col-md-6 d-flex flex-column justify-content-center align-items-start p-5">
                <h1 class="mb-3">Admin Dashboard</h1>
                <p class="mb-4">Welcome to the admin dashboard. Choose an option below:</p>
                <div class="list-group w-100">
                    <a href="{{ url_for('household.msw_prediction') }}" class="btn-adm text-center">Household MSW waste prediction</a>
                    <a href="{{ url_for('household.sow_prediction_ui') }}" class="btn-adm text-center">Household SOW waste prediction</a>
                    <a href="{{ url_for('household.waste_entry') }}" class="btn-adm text-center">Household MSW waste data entry</a>
                    <a href="{{ url_for('household.waste_entry_sow') }}" class="btn-adm text-center">Household SOW waste data entry</a>
                    <a href="{{ url_for('hospital.hospital_prediction') }}" class="btn-adm text-center">Hospital waste prediction</a></li>
                    <a href="{{ url_for('routeOptimization.waste_collection_map_admin') }}" class="btn-adm text-center">Route planning</a>
                    <a href="{{ url_for('chatbot.chatbot_admin_dashboard') }}" class="btn-adm text-center">View chatbot summary reports</a>
                </div>
            </div>
            <!-- Right Side -->
            <div class="col-md-6 d-none d-md-block p-0">
                <img src="{{ url_for('shared.static', filename='images/admin_option.png') }}" alt="Admin Options Background" class="img-fluid vh-100 w-100">
            </div>
        </div>
    </div>
    <!-- JS -->
    <script src="{{ url_for('shared.static', filename='/admin_dashboard.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
