.btn-adm {
  background-color: #0B437E;
  color: #fff;
  border: none;
  width: 100%;
  padding: 1rem;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  text-decoration: none;
  display: inline-block;
}

.custom-navbar {
  background-color: #0B437E;
}
.custom-navbar .navbar-brand {
  color: white;
}
.custom-navbar .nav-link:hover {
  color: #e1e1e1;
}
.custom-navbar .nav-link {
  color: #bdcad5;
}