body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#login-screen {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

input,
button {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    font-size: 16px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
