body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: center;
}

#map {
    height: calc(100vh - 50px);
    width: 100%;
}
